<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Message</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Here is the secret message!</h1>
    <img src="/prabhav yesyes.jpg" alt="Access Granted"/>
    <div class="secret-message"><%= secretMessage %></div>
</body>
</html>
